.progress-bar {
  background-color: black;
  border-radius: 100px;
  height: 20px;

  &::-webkit-progress-bar {
    background: black;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: pink;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}

.update-progress-bar-value {
  &::-webkit-progress-value {
    border-radius: 100px;
  }
}
