* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.traffic-signal {
  width: 200px;
  height: 300px;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signal {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: darkslategrey;
}

.red-light {
  background-color: red;
}

.orange-light {
  background-color: orange;
}

.green-light {
  background-color: green;
}
